@model IEnumerable<DruckLib.Druckauftrag>

@{
    ViewBag.Title = "Bearbeitete Aufträge";
}

<h2>Bearbeitete Aufträge</h2>

<p>
    @Html.ActionLink("Offene Aufträge", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BauteilURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gestartet)
        </th>
        <th>
            Ersteller
        </th>
        <th>
            Bearbeiter
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BauteilURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gestartet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Erstellt.Vorname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bearbeitet.Vorname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
