@model IEnumerable<DruckLib.Drucker>

@{
    ViewBag.Title = "Index";
}

<h2>Verfügbare Drucker</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Modell
        </th>
        <th>
            Besitzer
        </th>
        <th>
            Verfügbare Materialien
        </th>
        <th>
            Bauraum
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Vorname) &nbsp;
            @Html.DisplayFor(modelItem => item.Person.Nachname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VerfuegbareMaterialen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bauraum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
